.formLogo {
	background-color: #181824;
}

.imgLogo {
	height: 150px;
}

/* ==========layout navbar sidebar */

.lNS-droit {
	background-color: #f5f4f8 !important;
	position: fixed;
	bottom: 0 !important;
	height: 100vh !important;
	width: 100% !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	overflow-y: scroll;
	scrollbar-color: #181824 #181824 !important;
	/* scrollbar-color: #181824 !important; */
}

.bien22 .lNS-droit {
	background-color: #f5f4f8 !important;
	position: fixed;
	right: 0 !important;
	height: 100vh !important;
	bottom: 0;
	width: 85% !important;
	overflow-y: scroll;
	scrollbar-color: #181824 !important;
}

.bien22 .img-navbar {
	display: none;
}

.img-navbar {
	height: 100% !important;
	background-color: #181824 !important;
}

.img-navbar a img {
	height: 88px!important;
	background-color: #181824 !important;
}



/* =========NavBar */

#navbar {
	padding: 0 !important;
	background-color: #fff;
	height: 15% !important;
	width: 100% !important;
	margin: 0 !important;
	z-index: 1;
}

/* le button qui gere l'apparition du sidebar */
.btnContAffi {
	border: none !important;
	border-radius: 5px;
	background-color: #fff;

}

.btnAffi {
	border: none !important;
	color: #000;
	border-radius: none !important;
	font-size: 27px;
	background-color: #fff;
}

/* lOGO */
.logoNavbar {
	background: #181824 !important;
	width: 20% !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logoNavbar a {
	height: 100% !important;
	width: 100% !important;
	display: flex;
	justify-content: center;
	align-items: center;

}

.logoNavbar img {
	height: 100% !important;
	filter: contrast(2);
}

/* notification */
.notttif {
	background-color: #fff !important;
	border-radius: 50%;
	padding: 8px 8px;
	margin-right: 10px;
}

.apled {
	font-size: 25px;
}


.inputNavbar {
	padding-left: 20px;
	width: 35% !important;
}

.inputNavbar form {
	width: 70% !important;
}

.profilNavbar {
	width: 45% !important;
	padding-right: 20px;
}


/* ===== Side Bar */
.side-bar {
	background-color: #181824 !important;
	color: #fff !important;

}

.img-sidebar {
	max-height: 120px !important;

}

.bien22 .side-bar {
	width: 15% !important;
	position: fixed;
	height: 100vh !important;
	bottom: 0 !important;
	left: 0;
	overflow-y: auto;
	padding-left: 0px !important;
	padding-right: 0px !important;
	transition: 0.4s ease;

}

.afficher {
	display: none;
	transition: 0.9s ease;
	transition-property: left;
	transition: 0.4s ease;
}

.side-menu {
	width: 100%;
	padding-top: 20px;
}

.side-bar .side-menu .side-link {
	padding-top: 10px !important;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	color: #fff;
	font-size: 30px !important;
	font-weight: 500;
	text-decoration: none;
	display: block;
	/* padding-left: 20px !important;
	padding: 20px  30px; */

	min-width: fit-content !important;
}

.side-bar .side-menu .side-link span {
	font-size: 25px !important;
	padding-left: 5px;
	font-weight: 600 !important;
	line-height: 20px;
}

.side-bar .side-menu .side-link:hover {
	cursor: pointer;
	color: #000;
	display: block;
	min-width: fit-content !important;
	background-color: #fff;
	transition: 0.4s ease;
}

.side-bar .active {
	color: #000 !important;
	background-color: #fff;
	min-width: fit-content !important;
	position: relative;
}

.side-bar .active::after {
	content: '';
	position: absolute;
	width: 10px;
	height: 80%;
	bottom: 50%;
	right: 0;
	transform: translateY(50%);
	background-color: #181824;
	border-radius: 15px;
}

.side-bar .active {
	color: #000 !important;
	background-color: #fff;
	min-width: fit-content !important;
	position: relative;
}

@media only screen and (max-width: 700px) {
	.hideTitle {
		display: none;
	}
}

select,
textarea,
input,
td,
p,
h1,
h2,
h3 {
	color: #000 !important;
}


/* ===Card dashbord========= */


.cards-admin h5 {
	font-weight: 700;
	color: #181824;
}

.cards-admin .d-flex svg {
	color: #112b3c;
	font-size: 25px;
}

.cardDash {
	height: 150px;
	border-radius: 10px;
}

.cards-admin img {
	filter: contrast(90%);
}

.cards-admin img:hover {
	filter: contrast(120%);
}


/* ========= panier */

.panier{
	padding-left: 2px;
	border-left: 1px solid #000 ;
	border-style: dashed;
	width: 40% !important;
	z-index: 0;
}
.panier hr{
	background-color: #000;
}
.icon-panier{
	position: relative;
}

.nbrPanier{
	position: absolute;
	top: -30%;
	right: -10%;
	font-weight: 700 !important;
	border-radius: 100%;
}
.listepanier li{
	background-color: gainsboro !important;
	border-radius: 5px;
}

.listepanier img{
	width: 50px !important;
	height: 50px !important;
	object-fit: cover;
}

/* ==Facture  */

.colone_a_imprimer{
	background-color: #fff;
	color: #000 !important;
}
.colone_a_imprimer table{
	border: #4b4b4b solid 1px;
}
.colone_a_imprimer table th{
	font-size: 21px;
	font-weight: 500 !important;
}
.factAction{
	background-color: #fff !important;
	border-radius: 5px;
}
@media print {
	.no-print { display: none!important }
	.factAction{
		display: none !important;
	}
	.side-bar{
		display: none !important;
	}
	#navbar{
		display: none !important;
	}
 }

