.cardProduit{
	border-radius: 5px;
	/* height: 250px !important; */
	width: 300px !important;
	background-color: #d4e7ef ;
	color: black !important;
	/* margin-left: 10px;
	margin-bottom: 10px; */
}
.cardProduit button{
	background-color: rgb(246, 213, 170);
	color: black;
	font-weight: 600 !important;
}
.cardProduit button:hover{
	background-color: rgb(241, 237, 233);
	color: black;
	font-weight: 500;
}

.proj-imgbx {
	position: relative;
	overflow: hidden;
	height: max-content;
}

.proj-imgbx::before {
	content: "";
	background: linear-gradient(to top, #26a0da, #314755) !important;
	opacity: 0.85;
	position: absolute;
	width: 100%;
	height: 0;
	transition: 0.4s ease-in-out;
}

.proj-imgbx:hover::before {
	height: 100%;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.cardProduit img{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	height: 250px !important;
	width: 100%;
	object-fit: cover;
}
.proj-txtx {
	position: absolute;
	text-align: center;
	color: #fff;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.5s ease-in-out;
	opacity: 0;
	width: 100%;
}

.proj-imgbx:hover .proj-txtx {
	top: 50%;
	opacity: 1;
}

.proj-txtx h4 {
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0.8px;
	line-height: 1.1em;
}

.proj-txtx span {
	font-style: italic;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 0.8px;
}

.background-image-right {
	top: 20%;
	position: absolute;
	bottom: 0;
	width: 35%;
	right: 0;
	z-index: -4;
}