@tailwind base;
@tailwind components;
@tailwind utilities;

.mongestlayout {
	height: 100vh;
	position: relative;
}

.acceuil-gauche {
	width: 40% !important;
	height: 100% !important;
	position: fixed;
	left: 0%;
	top: 0%;
}

.acceuil-gauche img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.acceuil-droite {
	width: 60% !important;
	height: 100%;
	position: fixed;
	right: 0%;
	top: 0%;
	overflow-y: scroll !important;
}

@media only screen and (max-width: 680px) {
	.acceuil-gauche {
		display: none;
	}

	.acceuil-droite {
		width: 100% !important;
	}
}

table{
	width: 100%;
}

#customers {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
  #customers td, #customers th {
	border: 1px solid #ddd;
	padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #04AA6D;
	color: white;
  }

  